*.log
*.deb
*.gz
*.xz
*.zip

echo
client_id

pubspec.lock
sample_flutter/android/*
sample_flutter/ios/*

sample_c/build/*
sample_c/.cache
sample_c/CMakeFiles/*
sample_c/CMakeCache.txt
sample_c/cmake_install.cmake
sample_c/Makefile
