html {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    /* Hide scrollbars */
    /* overflow: hidden; */
}

app {
    margin: 0;
    padding: 0;
}
